{# TODO: use settings parameters for more of the stuff in here aka most of the classes can be replaced with stuff from settings #}
<article class="vc-icons-wrap">
  <div class="wpb_element_label">Choose Icon</div>
  <input autocomplete="off" size="60" placeholder="Type to filter" type="text" class="{{ icon_filter.class }}" name="{{ icon_filter.name}}">
  {{ dump(icons) }}
  {% for key, icon_set in icons %}
    <section>
      <h4>{{ key }}</h4>
        {% for key, icon in icon_set %}
            <a href="#"> 
              <i class="{{ icon }}"></i>
              <span class="icon-name">{{ key }}</span>
            </a>
        {% endfor %}
    </section>
  {% endfor %}
  <input type="hidden" class="wpb_vc_param_value wpb-textinput {{ settings.param_name }} {{ settings.type }}~_type" value="{{ value }} {{ dependency }}" name="{{ settings.param_name }}">
</article>
