<section class="vc-settings-slider">
  <div class="wpb_element_label"> {{ prompt }} </div>
  <div class="settings-slider" value="" data-slider-min="{{ settings.min }}" data-slider-max="{{ settings.max }}" data-slider-step="{{ settings.interval }}" data-slider-value="{{ settings.value }}" data-slider-orientation="{{ settings.orientation }}" data-slider-selection="before" data-slider-tooltip="hide"></div>
  <input type="text" class=" range-input-selector wpb_vc_param_value wpb-textinput {{ settings.param_name }} {{ settings.type }}_type" value="{{ value }} {{ dependency }}" name="{{ settings.param_name }}">
</section>
