<section class="vc_custom_style_{{ bg_image }} parallax_section" data-parallax-speed="{{ speed }}">
  {{ content }}
  <style type="text/css">
    .vc_custom_style_{{ bg_image }} {
    background: url({{ bg_img }}) no-repeat center center fixed;
    background-size: cover;
  }
  </style>
</section>
